body {
    max-width: 800px;
    margin: auto;
}

span.kl-intro {
    /* we put emphasis */
    font-style: italic;
    color: #666;
}

span.kl-intro[id^="undefined"] {
    /* we put emphasis */
    color: #AF5F00;
    font-style: italic;
    text-decoration: underline;
}

a.kl-ref[href^="#undefined"] {
    color: #AF5F00;
    text-decoration: underline;
}

section.definition {
    border-radius: 5mm;
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
}

details[open] {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}
